@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}
body{
    background: #f4ece1;
    /* animation: bodyAnimation 2s ease-in-out; */
}
.hero__content, a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #333;
    position: relative;
}
a::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FF7E00;
    transition: width 0.5s ease;
    padding: 0;
}
a:hover::after{
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5%;
    font-size: 1.4rem;
}
.itens{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.nav{
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
}

.main__content{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.content__left{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 650px;
    margin-left: 5%;
    animation: leftAnimation 2s ease-in-out;
}
.title{
    display: flex;
    text-align: center;
    font-size: 80px;
    align-items: center;
    gap: 10px;
}
.title span{
    color: #FF7E00;
}
.title .bottom-title{
    line-height: 1;
    font-size: 50px;
}
.content__main{
    color: #909090;
    font-size: 17px;
}
.btn{
    margin-top: 60px;
    background: none;
    padding: 20px;
    border: none;
    border-radius: 30px;
    width: 188px;
    color: white;
    background: #2F2F2F;
    margin-bottom: 60px;
    font-size: 16px;
    cursor: pointer;
}
.rating i{
    color: #FEBB41;
}
.rating p{
    color: #909090;
}
.content__right{
    width: 50%;
    animation: bodyAnimation 2s ease-in-out;
}
.content__right img{
    width: 750px;
    height: 712px;
    object-fit: cover;
}
@keyframes bodyAnimation{
    from{
        margin-right: -100%;
        opacity: 0;
    }
}
@keyframes leftAnimation{
    from{
        margin-left: -100%;
        opacity: 0;
    }
}
@keyframes topAnimation{
    from{
        margin-top: -100%;
        opacity: 0;
    }
}